.nav {
  height: 50px;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  border-bottom: 1px solid #e2001a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  color: #e2001a;
  font-weight: 500;
  margin: 5px 15px;
}
